<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_gKwDkbFdhZ0kKn0wNOly5fJU9pBtsV_r9IpG3Y_P_JQzt2MKlJv2nes&s=10"
            alt="Logo" width="50 px" height="50px">
          <a class="navbar-brand fw-bold" href="#">
            HOSPITAL DR. SANO
          </a>
          <div class="navbar-nav ms-auto">

            <a class="nav-link" href="#">
              INICIO
            </a>

            <a class="nav-link" href="#">
              SERVICIOS
            </a>

            <a class="nav-link" href="#">
              MÉDICOS
            </a>

            <a class="nav-link" href="#">
              PROMOCIONES
            </a>

            <a class="nav-link" href="#">
              CONTACTO
            </a>
          </div>
        </div>
      </nav>
    </header>
</body>
</html>
