<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <aside class="container my-4">
        <h2 class="text-center text-primary mb-4">
            Promociones Vigentes
        </h2>
        <div class="row justify-content-center g-4">

            <div class="col-md-4">
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpN_CQuVUArVAteyrbhqojA4zoeg6iLoqYvZe8R1c6Fw&s"
                        class="card-img-top" alt="Chequeo médico">

                    <div class="card-body">
                        <h5 class="card-title">Chequeo Médico</h5>

                        <p class="card-text">
                            Realiza tu chequeo médico con nosotros
                            y cuida tu salud.
                        </p>

                        <a href="#" class="btn btn-primary">
                            Ver promoción
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7imeQic4oHmZrhUScbgyleoqXt3vGNkTz_kN98RMdft0k75OINYC592Q&s=10"
                        class="card-img-top" alt="Consulta médica">

                    <div class="card-body">
                        <h5 class="card-title">Consulta Médica</h5>

                        <p class="card-text">
                            Aprovecha nuestra promoción en consultas
                            médicas durante este mes.
                        </p>

                        <a href="#" class="btn btn-primary">
                            Ver promoción
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRL5fzHphkq_5wEA5A8XtLRPZLRobN_A5_414dYCnpqQg&s=10"
                        class="card-img-top" alt="Exámenes de laboratorio">

                    <div class="card-body">
                        <h5 class="card-title">Exámenes de Laboratorio</h5>

                        <p class="card-text">
                            Obtén precios especiales en diferentes
                            exámenes de laboratorio.
                        </p>

                        <a href="#" class="btn btn-primary">
                            Ver promoción
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </aside>
</body>

</html>